<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% extends "AppsProyecto/padre.html" %}
</head>

<body>
    {% block titulo_de_pagina %}

    {% endblock %}

    {% block contenido_que_cambia %}
    <h1 class="mb-5">Acerca de nosotros</h1>
   
<p>Mi nombre es Julieta Adamarczuk, tengo 20 años, resido en la localidad de Moron y soy parte del armado de este modelo de página web. 
    Antes de elegir dedicarme a la programación estudie arquitectura y medicina, cosas super distintas que me llamaban la atención pero no me emocionaban al punto de imaginarme viviendo de eso. 
    Estudiando Python me di cuenta que podía volcar mi creatividad en un código para volverlo una gran herramienta. En lo personal, me considero una persona bastante creativa y detallista. Así que puedo decir que encontré mi vocación.
    Hablando más personalmente, vivo con mi mamá y mi hermana junto con mi gato Cleto y mi hija Juana (es un gato), ella es mi fiel compañera y esta presente en cualquier actividad relacionada con la computadora, quiere ser programadora como su mamá... o solo sentarse en el teclado. 
    En el futuro me gustaría enriquecer aun más mis conocimientos y especializarme en el área de backend.</p>

<div>
<div>   
<p>Hola! Soy Juan Reina, tengo 26 años y soy del partido de Moreno.
    Actualmente laboralmente me desempeño en el area de payroll , estudie la carrera de Lic. en Administración pero siempre tuve interes en el sector IT.
    Desde chico me intereso la programacion orientada al desarrollo de videojuegos , elegi Python porque me parece un lenguaje muy interesante a la hora de ingresar en este mundo tan grande y espero seguir desarrollandome paso a paso.
    
</p>


</div>
</div>










    {% endblock %}


    {% block contenido_que_cambia2 %}


    {% endblock %}




</body>

</html>