<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% extends "AppsProyecto/padre.html" %}
</head>

<body>
    {% block titulo_de_pagina %}
    <h1 class="mb-5">Agregando Avatar de {{ usuario }}</h1>

    {% endblock %}

    {% block contenido_que_cambia %}
    
<h1>AGREGAR AVATAR</h1>

<form action="{% url 'agregaravatar' %}"  method="POST" enctype="multipart/form-data"> {% csrf_token %}

    {{ form.as_p }}
    <button type="submit">AGREGAR AVATAR</button>

</form>

{% endblock %}

</body>

</html>