<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% extends "AppsProyecto/padre.html" %}
</head>

<body>
    {% block titulo_de_pagina %}

    {% endblock %}

    {% block contenido_que_cambia %}

    <h1>Busqueda usuario por apellido</h1>

    <form action="{% url 'buscar' %}" method="GET"> {% csrf_token %}

        <p>Apellido:<input type="string" name="apellido", id="apellido"></p>
        
        
        <input type="submit", value="Buscar">

    </form>
    <h2 >{{ mensaje }}</h2>

    {% endblock %}


</body>

</html>